Source: sp-stress-ui
Section: utils
Priority: extra
Maintainer: Eero Tamminen <eero.tamminen@nokia.com>
Build-Depends: debhelper (>= 7), libqt4-dev, applauncherd-dev, pkg-config
Standards-Version: 3.9.1

Package: sp-stress-ui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qt-components, applauncherd-invoker
Description: UI applications for system stress testing
 Contains the graphical sp-memload application for stress testing the system
 with different sizes of memory allocations.
XB-Maemo-Flags: visible
XB-MeeGo-Desktop-Entry-Filename: sp-memload-ui
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABGdBTUEAALGP
 C/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUw
 AADqYAAAOpgAABdwnLpRPAAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAAL
 EwAACxMBAJqcGAAAAAl2cEFnAAAAQAAAAEAA6vP4YAAAEK1JREFUeNrNm1mM
 XMd1hr+qurf37tk5m2aGbIqirbFla6EdWYFt2RC8KU78JDlAHiIE8UP8EiRA
 gCB58quNvNgCLBEQEjuBFCMLLMmyzcCy4sg0Q4mkR5Y4JEWKM8NZOUsv0327
 771VlYdeNDOctWfG8Q8U0H2Xqjr/rTrn1Kk6gn3i/Pnzm12OCSEyQBxICSEc
 IAmoXVargZK1NgRWAc9aWwAqGx88derUvvovDkjwJJAVQgwBR4ERY8ywtbbb
 WttvrU1Ya3uBaOMFay3W2lonhECIdV2pCiHmhRBlIcSsEGJRSjkJTAA3rbVT
 wA2gtF8idk3AuXPnmr+VUsJamwLuBx4F7tVaZ40xQ1rrXmNMU8CNZS0B6zqy
 hoAGIRuLlBKl1LyUckopdQN4B3gVuCiEWNVaNyv9+Mc/fnAEnD17FoBIJCKN
 MT3W2s8DTxpjPhiG4WAYho7WelNBDxJryVBK4ThO6DjOtJTyMvC8EOLHUsrb
 vu8bgIcffnj/BLz++utYa3Ecp10I8bgx5s+NMQ8GQZAIguBQBd4tIa7r4rpu
 WUr5ppTyGWvtS2EY5oQQPPLII60T8Nprr1GpVEin0/dZa7+utX7C9/1MQ/Df
 JTSIiEQiBaXUC0KIbxeLxbFYLManPvWpvRPws5/9DMdxlBDii8aYvw+C4FS1
 WsUY8/8t67aQUhKNRnFd97yU8hvW2h+FYag/85nP7J6AM2fO4LquAv7AGPOt
 SqWS9X1/z19dCIEFGkqxcU1KiYBD1RWRSIRYLHZDSvlXwItBEOjHHnvsjmed
 reowxnxRa/1Nz/OyQRC01JGK7+OvrKBnZpCLi0SMQff0oLJZom1tSNGyFd4R
 nucRhmE2Ho9/UymlgZeAOxi/owc/+clPkFLeZ4w57XneKd/399y4sRa/UKB8
 8SLDly4xNDVFZy6HG4asdHcz/rGPsfTpT5Ps7W3dEdklIpEI8Xj8vJTyz4wx
 Y5/73OfW3V83AmZmZhgbG+vQWn+9Uqk85Hlea+znciRee41TP/85x27fJqp1
 817P1BTx1VVejUYpf/azxBKJQyWgLsNDsVjs68DfzMzMrAwMDDTvNz/ACy+8
 QBAEsq2t7Y+NMd8plUoZvabju4EQgkBrzMWL/P4PfsA909ObPqeF4FcnT/Lr
 r36VdDaLFOJQrYpSimQyWZBS/kU+n/8X13XNE088AawZAclkEqBba/21crmc
 aWneC0G1XCZz7Rr9S0tbd8hahufmGJuYIBgawlG7XSK0BmMM5XI5k0gkvtbe
 3v5TYKFxr0nAgw8+yNmzZ7+gtX6gUqm09kWEIAwCRLGIuwOB6XKZ6PIyOggO
 XQ8AVCoVHMd5QCn1hYcffvgf7yDgzJkz6Xg8/qTnefEwDFtrRQgMEMbjBI5D
 bJsppKxFaY2vNULK3wIF4HlePB6PP3nmzJl/B4oAEuD06dNEIpH7gyAYrVQq
 QmtNq0UoRbG3l+V4fNvOVF0XLxrFWPv++8YQao0fBJRWV6lWqy33Y7NSqVRE
 EASjkUjk/tOnT78/AhKJBMaYR6vVal+rNn8tVgcGuDYwwGA+j7PFVFpKp6l2
 d6MAWxc8rFSwKyuo6Wnk4iK5kydpqyvJg4DWmmq12heNRh9NJBL/3SRAa50U
 Qtzr+767V82/EUIIVE8Pv/nwhzkyP8/o8jJqAwm+lFzv7aXU2YlTLCJzOZzZ
 Wbpv3WJgcpJji4sorXnZcfAHB3Fd90AIAPB933Vd915rbRIoOQDGmKzWOuv7
 /oH4+kopyh/6EK95HuLcOU4uLhJZQ+ytaJR3kkki164xuLBA/8wMA4uL9JVK
 pHwfCWgpuWtigivFIqq9/SAJwHXdrFIqC7wlnnnmGVzX/YLv+8+VSqXegyCg
 EdwIPA/x1lt85I03eOjWLTqrVRCC92IxZuNxBrWmq1wmEQSbxsre7Ovjla98
 hfjx49u208BuLJeUkmQyOR+JRP40CIJXHCml0FofC4LgSMvafwMsEGqN1Rq/
 q4vzfX1EFxb4RLVKxFpGKhVGPG/HAOFQoUBqZgZvaAjHcTZtpyGyYHfRHWMM
 QRAcUUodk1IKJwiCqFJqJAgC0er8b6z6tDFUPA8nlyM1N0f39DQjMzMMLy3R
 Vy4TqT+vduljtFWr9E9NcXl0FJnJrPvClWoVUywiCgWEtZBKITs6iESjsEP9
 QRCISCQyorWOOtbaTBAEw2EY1szYHjWusRa/UsHk8yTm5xmamuLE3BwjS0t0
 l8ukw7BlR8fVmpH5eS4vLaFTKbC2Zi0WFui4epXjU1McyeWQWpPv6ODtbJaF
 0VFSHR1b1mmtJQxDgiAYFkJkHGNMPAzD7jAM96wAy6UScnKSuyYnOT43x9Gl
 JXpWV2kLQw7CtZHAQD5PcmaG1f5+hLXomzf5yPnz/N7EBEfKZSL1rx3evs3R
 +XletJaVBx4gEo9vORLqBHQ7jhN3tNapMAz7gyBgr1MgKBS478IF/vDGDZJh
 uKXN3w+6PI/e2VluF4uopSU+efYsn3zvPZIb/BXHWrL5PA++9RY/7e0lGBnZ
 1n9wXbdfCJGSxhjHGJMwxqC1xhiz66ISCaqpFFFrD0V4gLjWjCwsYKamODE2
 xicmJu4QvgFlLR9cWqJnagq/Hr7bWNbImDDGOI4xJhmGYW8rUwDHYerIEWaj
 UY4dkAXZCAn0Li3Rd+ECD92+TaZa3fb5jO/Tt7DAVLmM4zibmsYwDAnDsFcp
 lXS01kprHWswsxdYoNTVxc10mmOl0p7e3QuGPI+vTE3Rv4uVY8QYUsUiulJB
 p1LYTWSytfVHTGutnLr2t42Njb3CZDJMdnVRXVggekgR46QxZKvVXVkTC9h6
 gEVrvakirN+zYRjiNOZFSwQIgXZdZnp6WLx+ncFKZW/v76UpwAiB3KGPq/X+
 mEgEs4VMQoimLlhHwG5gaxQ2K0IIljs7mU4mGahUDi24EQjB2/E4EeB4tbou
 ztjoVy4S4ZeDg4wfPYpw3W1lahJQVwg7EhBqjS0Wa16e76OlrK3n29spxuNM
 tLXx0eXlpl0+aEhgIpHgl0ePMprPM7q0RJ/n4YYhFaWYSKd5s7+f6ydOYHp6
 UMawnUQNuZ215mEzL9ACYalE++Qk9928yejSEh3VKkYIlmMx3u3o4FJPDxNK
 UVCK7kOyBspajgUB/9XTw+v33sv/5nIkikViQUDZcVhtb8d0dODE40ghtlXo
 1tqmWXTW2v7NoD2P7OXLPH7lCvcUi0TWPHfM8/hILsdDs7PccBwOe7ewv1ym
 d3mZybvuQg8MUAQK1tY2SaEZXNnNZG589CYBm+3yGmtJzc/z2Lvvcm8+v6l7
 61jLcc9jpN6Jw0QmDBm5fZvrpRIilWpeb2XLbh0BW40CYwyZxUWOFQo7+vaH
 5QmuRcRa7s7l+EU+j04kdlz1bQUpZVPxN0aA2MwMGq0xQVBbbu4AC8w4DlFj
 6D4kf0AAA6USnYuLTHd14ba4n1D3A4TWGmmM0VrryqZ+s7WUolGKu4jJFZTi
 P7u6+GU6vas52Co6g4DhxUUCz9vTumVjsdZWrLVaGmNK1tr5tf5Ac1pYSz6T
 4eYOIe5QCC61tXHx7rsZ7+3FO8SdnpQxfCCfJ1YoELQYHq+TMG+MKckgCMIw
 DMubEWC1pphMcqmjg8IWQlngcjLJK8PD5Ht7mezsZDYS2ZtUe4AvBK7vo1ZX
 CetL+FYICMOw7Pt+6FA7hzdrjBndzBTaSIRfDwzw5vIyj+Tz6xydVSl5J5nk
 heFhJoeHEa7LSjrNtUSC4553IEERgIoQ5B2Hm4kEF9JpftPdzXIqhWsMrWib
 ur8zC6w6xhjPGLPYcA42e3i5q4t/PXGChelpsoUCyhhysRiX02nG+vuZ7+lp
 xuKq8TjXMhk+ubJCah/K0BeCZcdhIhZjPJ3mWkcHkx0d5DMZnFisqQBbiWJL
 KTHGLBpjPEdKWTDGTG5FAIByHOYGB/m39nZiq6tIY6hGo3jJJCIWw6lVCECo
 FO+1tbHguqR2WLtvhAZyjsP1aJTxTIarHR1MtbdTTKfRsRhKKdy6t7qf8H3d
 2k1mMpmCk8vlqq7rThhjrDFGbOlUCIGfSlGpbaMjAFl3ftauIywwn05zMx7n
 2C6WsJqan2+By1Ly711djN91F5WuLnQ0ilUKJcSevLztUHeCbBiGE52dnVUZ
 iUSs1vo9YGGr053W2lpgwRiktUhrEfVrG0+FCmtZjccZT6XwtojJVYVg1nU5
 F49zKRolEAIJDAOnPI/ecpnQWpASuUU7+ynAQhiG71UqFavGxsYYHR2NW2sf
 DcNwYN8NUTsBIj2PB3I50vWhGgjBnOMwlkjwamcnL/f38/N0mqOlEvf4PgKI
 WkvW9zm2uspytcrNWAxc98AEb4xupdQ48L2nn356wanPiRvGmBvW2ocOYmvM
 ApOpFOPxOBqYiEa5nEoxnskw3dZGPpnEV4r7bt3io/W9wAaUtXzA8/iT6Wmq
 wMXjx5HRaGsd2XoK3BBC3ID67nAQBCWl1DtCiMAYcyBbsbl4nH/u7SUuBAuZ
 DMVEgjAaRSqFFIJIqcT9Kysc2WL5nA0C/mhhgYn2dpZ6e/e8YbMVHMcJhBDv
 BEFQgvoBie7uboBXpZRzB9ZQLMbk0BDXRkbId3djEwkcpZpfO1GpkC2Xt90m
 G/U8RpeXMQdwZgGahzTngFfrMtf68+yzz9LZ2XlRSvm2UupAlnVCCJxIpPbF
 Wb9xaawloTUZY7a1ElEg63moFs4qbgallJVSvt3Z2Xnx2WeffZ8AgOeee65I
 7ch5a4cD90IONfO3k7aR1pIJQwhDOICRWZft+bqs6wl46qmn0Fq/IqW8oA75
 2JoQglXXZd51d4wiVZVCHEB/lFJIKS9orV956qmnmtebBMzNzTE8PLzoOM53
 pZSFg9IFm8JaKvE4lzIZStucEFt2HN7KZNCxWMvBD2jO/YLjON8dHh5enJub
 e5+Yxo8rV67wxhtv2BMnTkwB/cAD1trDY0FKckC2WGSw7gc0+QGmHYf/6O7m
 fwYH0YnEvqxAfe5/z1r79Pe//31vfHy8eW/dsYu6E7QCfFtK+VFr7anDyg+Q
 UrLS2cnzQ0NUZma4u24Rco7DtXic19vb+U1fH2E6va9TYlJKpJRvAN+21q5s
 lGfTmr/85S8L4HFjzD8YY44fZpKECQLaCgU6VldBayrRKPlUinIigXDdfS2p
 68Jfl1L+JfDSD3/4wzvm0Vb5AtYY8yMhhJJSfgvIHtpIcF3yXV3kOztr87yR
 FLXfemvC3xBC/LUx5kdSyk2VyKbtXLlyhZMnT1pr7TXguhDibmDwUBigfsBp
 bYrcfuqqZ6RIKc8Dfwu8LITQL7744qbPb0n01atXueeeeyxwFTgnhHCEECeE
 ENHftYSpBuqCF6SU/wT8HfALwL700ktbvrPtSKuTADAP/EII8a4QokcI0QMc
 3PHNgxG8LKX8lRDiG8B3qGWZsp3wsMvEyccff7zZFtADfN5a+yTwQWvtoLW2
 sar8rQjcMIlCiFAIMS2EuCylfN4Y82PgNnUncyfhd03ABhKo+wfrUmeBrLV2
 COjdLkW2VWHX/J4XQjRyh5ups9FodDUIAttobzfC74mAjfjSl7609m8SyALN
 5Glr7TDQTc2pSgDN5OmtSFkjbJXatCtTi94uCiGaydPAHcnTL7/8cmsEt0rA
 FkQ0Tl+sS5+nZm73nD4PrEufV0pVNpLXquAN/B+gHv3eX/I4YgAAACV0RVh0
 ZGF0ZTpjcmVhdGUAMjAxMS0wOS0wNVQxNTowNzoxOCswMzowMEZH088AAAAl
 dEVYdGRhdGU6bW9kaWZ5ADIwMTEtMDktMDVUMTU6MDc6MDUrMDM6MDCaZwot
 AAAAAElFTkSuQmCC

Package: sp-stress-ui-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, sp-stress-ui (= ${binary:Version})
Description: debugging symbols for sp-stress-ui
 Contains the debugging information for the sp-stress-ui package.
