#!/usr/bin/make -f
#export DH_VERBOSE=1

.PHONY: override_dh_strip
.PHONY: override_dh_auto_build

override_dh_strip:
	dh_strip --dbg-package=sp-stress-ui-dbg

override_dh_auto_build:
	(cd sp-memload-ui && ./gen-tr.sh) || exit 1
	dh_auto_build

%:
	dh $@ --parallel
